* {
    margin: 0;
    padding: 0;
}

@media (max-width: 694px){
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: fixed;
        height: 200px;
    }

    main {
        padding-top: 200px;
    }

    .about-me, .events, .donations, .fundraising {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    .about-me .me-image, .about-me .about-text,
    .community-about .community-image, .community-about .community-text.about-me,
    .events .event-image, .events .event-text,
    .donations .venmo-image, .donations .paypal-image,
    .donations .venmo-text, .donations .paypal-text,
    .fundraising .fundraising-image, .fundraising .fundraising-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .donation-check {
        padding: 40px;
        text-align: center;
    }

    .venmo-text a, .paypal-text a {
        text-align: center;
    }

    .community-about .community-text {
        padding: 40px;
    }

    .about-me .me-image img {
        width: 100%;
    }

    header .hamburger {
        display: block;
    }

    header .hamburger.active {
        padding-bottom: 100px;
    }

    header .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    
    header .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    header .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
     }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 100px;
        flex-direction: column;
        background-color: white;
        width: 100%;
        text-align: center;
        transition: 0.3s;
     }

    .nav-menu.active {
        left: 0;
        line-height: 50px;
    }

    footer p{
        text-align: center;
    }

}

/*Header Styles*/
header {
    background-color: white;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed; */
    z-index: 1; 
}

.logo {
    width: 30%;
}

.logo img {
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: black;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5rem;
}

header ul li a:hover {
    color: #9a0704;
    border-bottom: 0.1rem solid #9a0704;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 34px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #9a0704;
}

/*Footer Styles*/
footer {
    background-color: white;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

i {
    font-size: 2.5rem;
    padding: 10px;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul li {
    list-style: none;
}

footer ul li a {
    color: black;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
}

footer ul li i:hover {
    color: #9a0704;
}

footer p {
    color: black;
    padding: 10px;
    font-size: 1.25rem;
}

/*Home: Main Styles*/
.main-item {
    background-image: url('ZT Foundation/Walk/background.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding-top: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.main-item::before {
    content: "BEFORE";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /* background-color: #9a0704; */
    font-size: 1.5rem;
    z-index: 1;
    text-align: center;
}

/*About Page Styles*/
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding: 40px;
    flex-wrap: wrap;
}

.mission {
    padding-bottom: 40px;
}

.me-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.me-image img {
    border-radius: 5rem;
    width: 60%;
}

.about-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    text-align: justify;
}

.about-text p, .mission p {
    font-size: 1.25rem;
    line-height: 2;
}

.about-text h1, .mission h1 {
    text-align: center;
    color: #9a0704;
    font-size: 2rem;
}

/*Community Page Styles*/
.community-header {
    display: flex;
    justify-content: center;
    color: #9a0704;
    font-size: 3rem;
    padding-top: 20px;
}

.community-about {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    flex-wrap: wrap;
}

.community-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.community-image img {
    padding: 10px;
    border-radius: 5rem;
    width: 85%;
}

.community-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    text-align: justify;
}

.community-text p {
    font-size: 1.25rem;
    line-height: 2;
}

.community-text h1 {
    color: #9a0704;
    font-size: 2rem;
}

/*Events Page Styles*/
.events-header {
    display: flex;
    justify-content: center;
    color: #9a0704;
    font-size: 3rem;
    padding-top: 20px;
}

.events {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding: 40px;
    flex-wrap: wrap;
}

.event-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.event-image img {
    padding: 10px;
    width: 90%;
}

.event-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    text-align: justify;
}

.event-text p {
    font-size: 1.25rem;
    line-height: 2;
}

.event-text h1 {
    color: #9a0704;
    font-size: 2rem;
}

.event-text i {
    text-decoration: none;
    color: black;
}

.event-text i:hover {
    border-bottom: 0.1rem solid #9a0704;
}

.brochure-info {
    text-decoration: none;
    color: #9a0704;
}

.brochure-info:hover {
    border-bottom: 0.1rem solid #9a0704;
}

/*Donation Page Styles*/
.donations-header {
    display: flex;
    justify-content: center;
    color: #9a0704;
    font-size: 3rem;
    padding-top: 20px;
}

.donations {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    padding-top: 50px;
    padding: 40px;
    /* flex-wrap: wrap; */
}

.donations h2 {
    color: #9a0704;
    font-size: 1.75rem;
}

.donation-venmo, .donation-paypal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.venmo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.paypal-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 63%;
}

.venmo-image img, .paypal-image img {
    padding: 10px;
    width: 100%;
}

.venmo-text, .paypal-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding: 40px;
    text-align: justify;
}

/* .paypal-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 40px;
    text-align: justify;
} */

.venmo-text p, .paypal-text p {
    font-size: 1.25rem;
    line-height: 2;
}

.venmo-text a, .paypal-text a{
    text-decoration: none;
    color: #9a0704;
}

.venmo-text a:hover, .paypal-text a:hover{
    border-bottom: 0.1rem solid #9a0704;
}

.paypal-text a img {
    width: 50%;
}

.donation-check {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.donation-check h2 {
    color: #9a0704;
    font-size: 1.75rem;
}

.donation-check p {
    font-size: 1.25rem;
}

/*Donation Page: Fundraising Styles*/
.fundraising-header {
    display: flex;
    justify-content: center;
    color: #9a0704;
    font-size: 3rem;
    padding-top: 20px;
}

.fundraising {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding: 40px;
    flex-wrap: wrap;
}

.fundraising-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.fundraising-image img {
    padding: 10px;
    width: 90%;
}

.fundraising-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    text-align: justify;
}

.fundraising-text p {
    font-size: 1.25rem;
    line-height: 2;
}

.fundraising-text h1 {
    text-align: center;
}

.fundraising-text h1 a {
    text-decoration: none;
    color: #9a0704;
    font-size: 2rem;
}

.fundraising-text h1 a:hover {
    border-bottom: 0.1rem solid #9a0704;
}